html{
    background-color: burlywood     /*le doy un color de fondo a toda la página*/
}

body{           /*le doy estilo al cuerpo de la página*/
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 8px 10px 5px gray;
}